services:
  carapi:
    image: ghcr.io/eucsyddatatek/softtest-stresstest-carapi:main
    ports:
        - 80:9090
    
    depends_on: 
        - db
    env_file: "appsettings.env"
  db:
    image: docker.io/library/postgres
    restart: always
    volumes:
        - CarApiDb:/var/lib/postgresql/data
    environment:
        - POSTGRES_PASSWORD=PAssw0rd
        
volumes:
  CarApiDb:
